@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #eeeeee;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-alert{
  top: -4rem;
  opacity: 0;
  animation: alert 1s  ease-in-out;
}

@keyframes alert{
  from{
    top:-4rem;
    opacity: 0;
  }
  to{
    top: 0rem;
    opacity: 1;
  }
}

.ProseMirror-focused:focus-visible{
  outline: 0px;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



 */
